.Service {
    /* background-color: blue; */
    grid-row: span 3;
    grid-column: span 3;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.ServiceIconContainer {
    display: flex;
    justify-content: flex-end;
}

.ServiceIconContainer svg {
    height: 100px;
    fill: white;
}

.ServiceHeadline {
    color: white;
    font-size: 1.8em;
    margin-bottom: 0;
    margin-top: 60px;
    text-transform: uppercase;
}

.ServiceText {
    color: white;
    margin-top: 2px;
    font-size: 1.2em;
}